<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- CalendarService Bean -->
    <bean id="calendarService" class="com.nt.task01.CalendarService"/>

    <!-- MonthEndChecker Bean -->
    <bean id="checker" class="com.nt.task01.MonthEndChecker">
        <property name="calendarService" ref="calendarService"/>
    </bean>

</beans>